body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f3f6;
}

.navbar {
  display: flex;
  align-items: center;
  background: #131921;
  color: white;
  padding: 10px;
  gap: 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.count {
  font-size: 14px;
}

.menu {
  background: #232f3e;
  padding: 10px;
  display: flex;
  gap: 15px;
}

.menu button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.category {
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.desc {
  font-size: 13px;
  color: #555;
}

.price {
  color: #b12704;
  font-weight: bold;
}

.product button {
  width: 100%;
  margin-top: 5px;
  padding: 7px;
  border: none;
  cursor: pointer;
  background: #febd69;
}

.product button:last-child {
  background: #ffd6d6;
}
.product-link{
    text-decoration: none;
    color: inherit;
}